<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="local/modules/iny.core/tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
         colors="true"
         failOnEmptyTestSuite="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">
                local
            </directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="INYCore">
            <directory suffix="Test.php">
                local/modules/
            </directory>
        </testsuite>
    </testsuites>
</phpunit>
