name: "PHP_auto_test"

on:
  push:
    tags:
      - '!refs/tags/*'
    branches:
      - '*'
    paths:
      - "**.php"
      - ".github/workflows/phpcs.yml"

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - name: PHP Lint 8.1
        uses: dbfx/github-phplint/8.1@master
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # important!

      - name: Install PHP_CodeSniffer
        run: |
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          php phpcs.phar --version

      - name: Run PHP_CodeSniffer
        run: |
          php phpcs.phar -s -p --colors \
          --standard=PSR12 \
          --extensions=php \
          --ignore=install/index.php \
          --exclude=Generic.ControlStructures.InlineControlStructure \
          --runtime-set testVersion 8.1 ./
